<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="Naturfortællinger"></Label>
</ActionBar>

<ScrollView>
    <StackLayout style="background-color: rgb(97,125,64);">
        <GridLayout (tap)="onCategoryItemTap('XKxCEgZJNv1b5DtMlLC4')">
            <Image src="~/assets/lærerigefortællinger.jpg"
                   Stretch="aspectFill"></Image>
            <Label horizontalAlignment="center"
                   verticalAlignment="center"
                   text="LÆRERIGE FORTÆLLINGER"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
        </GridLayout>
        <GridLayout (tap)="onCategoryItemTap('RC0vWoVWvRPgIlETcnWO')">
            <Image src="~/assets/meditationer.jpg"
                   Stretch="aspectFill"></Image>
            <Label horizontalAlignment="center"
                   verticalAlignment="center"
                   text="MEDITATIONER"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
        </GridLayout>

        <GridLayout (tap)="onCategoryItemTap('ceHSGoV9VPfE2lcNbufM')">
            <Image src="~/assets/historier.jpg"
                   Stretch="aspectFill"></Image>
            <Label horizontalAlignment="center"
                   verticalAlignment="center"
                   text="HISTORIER"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
        </GridLayout>
        <Image src="~/assets/naturappen-logo-green.png"
               class="m-y-5"
               borderRadius="100"
               height="100"></Image>
    </StackLayout>
</ScrollView>