.page-header {
    background-color: rgb(97,125,64);
}

.page-adventure-list-crud {
  align-items: center;
  flex-direction: column;
}
.layout {
  vertical-align: middle;
}
.title {
    margin: 20px;
    font-size: 18px; 
    font-weight: 400;
     color: rgb(116,156,67);
}

.image,
:host-context(.ns-dark) .image {
    font-size: 25;
    height: 30%;

    &__add {
        background-color: #d3d3d3;
        color: #ffffff;
    }

    &__remove {
        background-color: transparent;
        color: #ffffff;
    }
}