<ModalStack dismissEnabled="true"
            class="modal-container">
    <StackLayout class="modal">
        <label class="m-10"
               style="font-size: 18px;"
               textWrap="true"
               textAlignment="center"
               text='Vælg venligst dit ønskede abonnement'></label>
        <Button class="btn -rounded-lg m-b-20"
                style="background-color: rgb(116,156,67); color: white; font-size: 17px; width: 75%;"
                text="3 måneder for 65 kr."
                (tap)="buy3MonthSubscription()"></Button>

        <Button class="btn -rounded-lg m-b-20"
                style="background-color: rgb(116,156,67); color: white; font-size: 17px; width: 75%;"
                text="12 måneder for 199 kr."
                (tap)="buy12MonthSubscription()"></Button>
    </StackLayout>
</ModalStack>