<ActionBar class="page-header">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed"
                      android.systemIcon="ic_menu_back"
                      (tap)="onBackButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed"
                (tap)="onBackButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="{{adventureList?.name}}"></Label>
</ActionBar>

<GridLayout class="page__content">
    <RadListView [items]="adventureEntries"
                 (itemTap)="onAdventureEntryItemTap($event)">
        <StackLayout>
            <ng-template tkListItemTemplate
                         let-adventureEntry="item">
                <StackLayout class="adventure-entry__item">
                    <GridLayout rows="*"
                                columns="*, *, *, *, *"
                                class="adventure-entry__item-content p-l-10">
                        <Image col='0'
                               [src]="adventureEntry.pictureURL"
                               borderRadius="100"></Image>
                        <Label col='1'
                               colSpan="3"
                               [text]="adventureEntry.name"
                               class="p-l-10"
                               style="font-size: 18; color: black;"></Label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </StackLayout>
    </RadListView>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>