<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      android.systemIcon="ic_menu_back"
                      (tap)="onBackButtonTap()"></NavigationButton>

    <ActionItem android:visibility="collapsed"
                (tap)="onBackButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="{{adventureList?.name}}"></Label>
    <ActionItem *ngIf="isAdmin">
        <Label text="&#xf0fe;"
               class="nt-icon far p-r-20"
               style="font-size: 20;"
               verticalAlignment="center"
               ios.position="right"
               (tap)="onCreateAdventureEntry()"></Label>
    </ActionItem>
    <ActionItem *ngIf="isAdmin">
        <Label text="&#xf044;"
               class="nt-icon far p-b-15 p-r-10"
               style="font-size: 19;"
               verticalAlignment="center"
               ios.position="right"
               (tap)="onEditButtonTap()"></Label>
    </ActionItem>
</ActionBar>

<ActivityIndicator [busy]="isLoading"></ActivityIndicator>
<FlexboxLayout class="page-adventure-list">
    <RadListView [items]="adventureEntries$"
                 (itemTap)="onAdventureEntryItemTap($event)"
                 style="background-color: #ffffff;">
        <ListViewGridLayout tkListViewLayout
                            scrollDirection="Vertical"
                            spanCount="2"></ListViewGridLayout>
        <ng-template tkListItemTemplate
                     let-adventureEntry="item">
            <StackLayout class="adventure-entry__item m-y-5 m-x-8">
                <GridLayout class="adventure-entry__item-content">
                    <WebImage stretch="aspectFill"
                              height="180"
                              placeholder="~/assets/logo-placeholder.png"
                              [src]="adventureEntry.pictureURL"></WebImage>
                    <StackLayout>
                        <label *ngIf="
                              adventureEntry?.isDiscovered"
                               horizontalAlignment="center"
                               verticalAlignment="middle"
                               style="border-radius: 50%;
                               background-color: white;
                               padding: 20px">
                            <FormattedString>
                                <span text="&#xf00c;"
                                      class="fas"
                                      style="color: rgb(116,156,67);
                                             font-size: 30;
                                             font-weight: 600;">
                                </span>
                            </FormattedString>
                        </label>
                    </StackLayout>
                    <StackLayout class="item-text"
                                 verticalAlignment="bottom">
                        <Label [text]="adventureEntry.name"
                               class="m-t-20"
                               horizontalAlignment="center"
                               style="font-size: 17; color: white; font-weight: 400;"></Label>
                    </StackLayout>
                </GridLayout>
                <label style="background: linear-gradient(rgba(44, 43, 43, 0.5), transparent);
                                                                      height: 2;"
                       verticalAlignment="top"></label>
            </StackLayout>
        </ng-template>
    </RadListView>
</FlexboxLayout>