@import '~@nativescript/theme/scss/variables/forest';

.page-header {
    background-color: rgb(97,125,64);
}

.page-adventure-list {
    flex-direction: column;
}
// Custom styles
.adventure-entry,
:host-context(.ns-dark) .adventure-entry {
     &__item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
         
    
        &-content {
            padding: 0 0 0 0;
           
           
        }

    .item-text {
    margin-top: 55;
    background: linear-gradient(transparent, rgb(46, 45, 45));
}
    }
}