<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      android.systemIcon="ic_menu_back"
                      (tap)="onBackButtonTap()"></NavigationButton>

    <ActionItem android:visibility="collapsed"
                (tap)="onBackButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="{{adventureList?.name}}"></Label>
</ActionBar>

<GridLayout class="page__content">
    <RadListView [items]="adventureEntries$"
                 (itemTap)="onAdventureEntryItemTap($event)"
                 style="background-color: #f2f2f2;">
        <StackLayout>
            <ng-template tkListItemTemplate
                         let-adventureEntry="item">
                <StackLayout class="adventure-entry__item">
                    <GridLayout rows="*"
                                columns="*, *, *, *, *"
                                class="adventure-entry__item-content">
                        <Image col='0'
                               class="p-x-5 p-y-5 m-l-5"
                               stretch="aspectFill"
                               [src]="adventureEntry.pictureURL"
                               borderRadius="50%"></Image>
                        <Label col='1'
                               colSpan="3"
                               [text]="adventureEntry.name"
                               class="p-l-10"
                               style="font-size: 20; color: black;"></Label>
                        <label *ngIf="adventureEntry.isDiscovered"
                               col="4"
                               textAlignment="center">
                            <FormattedString>
                                <span text="&#xf00c;"
                                      class="fas"
                                      style="font-size: 30px !important; color: green;">
                                </span>
                            </FormattedString>
                        </label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </StackLayout>
    </RadListView>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>