<ActionBar class="page-header">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed"
                      android.systemIcon="ic_menu_back"
                      (tap)="onBackButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem android:visibility="collapsed"
                (tap)="onBackButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text=""></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas"
           text="&#xf002;"></Label>
    <Label class="page__content-placeholder"
           text="<!-- Page content goes here -->"></Label>
</GridLayout>