<ActionBar class="page-header">
    <NavigationButton ios:visibility="collapsed"
                      android.systemIcon="ic_menu_back"
                      (tap)="onBackButtonTap()"></NavigationButton>

    <ActionItem android:visibility="collapsed"
                (tap)="onBackButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="{{adventureEntry?.name}}"></Label>
</ActionBar>

<GridLayout class="
           page__content">
    <StackLayout class="">
        <Image [src]="adventureEntry?.pictureURL"
               stretch="aspectFill"
               height="200"></Image>
        <label text="{{adventureEntry?.description}}"
               textWrap=true
               lineHeight=5
               class="p-y-5 p-x-15"
               style="font-size: 18px;"></label>
        <label (tap)="toggleDiscoveredButton()"
               textAlignment="center"
               [class.check-button-true]=adventureEntry?.isDiscovered
               [class.check-button-false]=!adventureEntry?.isDiscovered>
            <FormattedString>
                <span text="&#xf00c;"
                      class="fas"
                      style="font-size: 40px !important;">
                </span>
            </FormattedString>
        </label>
    </StackLayout>
</GridLayout>