<ModalStack dismissEnabled="true"
            class="modal-container">
    <StackLayout class="modal">
        <label class="m-15"
               style="font-size: 17px;"
               textWrap="true"
               textAlignment="center"
               text="Indtast din emailadresse og modtag en mail med koden til nulstilling af din adgangskode. 
               Vær opmærksom på, at mailen muligvis kan befinde sig i Spam/Uønsket mail mappen"></label>
        <TextField class="input form-control"
                   [formControl]="emailForm.controls['email']"
                   hint="Email"
                   keyboardType="email"
                   autocorrect="false"
                   autocapitalizationType="none"></TextField>

        <Button class="btn -rounded-lg m-y-20 form-control"
                [isEnabled]="emailForm.valid"
                shadow="8"
                style="background-color: green; color: white; font-size: 16px; width: 50%;"
                text="Send"
                (tap)="send()"></Button>
    </StackLayout>
</ModalStack>