<ModalStack dismissEnabled="true"
            class="modal-container">
    <StackLayout class="modal">
        <Image class="m-t-10"
               stretch="aspectFill"
               borderRadius="100"
               height="120"
               width="120"
               src="~/assets/lærkeogemil2.jpg">
        </Image>
        <label class="m-10"
               style="font-size: 18px;"
               textWrap="true"
               textAlignment="center"
               text='Tillykke! Du har nu udfyldt hele bankopladen "{{adventureListName}}". Hvor er du god!'></label>

        <Button class="btn -rounded-lg"
                shadow="8"
                style="background-color: rgb(116,156,67); color: white; font-size: 17px; width: 60%;"
                text="Nulstil bankoplade"
                (tap)="clearAdventureListState()"></Button>

        <Button class="btn -rounded-lg m-t-0 m-y-20"
                shadow="8"
                style="background-color: white; color: black; font-size: 16px; width: 50%;"
                text="Luk"
                (tap)="close()"></Button>
    </StackLayout>
</ModalStack>