<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent
                rows="auto, *"
                class="nt-drawer__content">
        <StackLayout row="0"
                     class="nt-drawer__header">
            <Label class="nt-drawer__header-brand"
                   style="font-size: 18px !important;"
                   textWrap="true"
                   (tap)="onNavItemTap('/profile')"
                   text="{{user?.name}}"></Label>
            <Label class="nt-drawer__header-brand"
                   style="font-size: 14px !important;"
                   textWrap="true"
                   textDecoration="underline"
                   (tap)="onNavItemTap('/profile')"
                   text="{{user?.email}}"></Label>
        </StackLayout>

        <ScrollView row="1"
                    class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/home')"
                            (tap)="onNavItemTap('/home')">
                    <Label col="0"
                           text="&#xf4d8;"
                           style="font-size: 18px;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           style="font-size: 16px;"
                           text="Hjem"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/tale-categories')"
                            (tap)="onNavItemTap('/tale-categories')">
                    <Label col="0"
                           text="&#xf027;"
                           style="font-size: 18px;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           style="font-size: 16px;"
                           text="Naturfortællinger"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/adventure')"
                            (tap)="onNavItemTap('/adventure')">
                    <Label col="0"
                           text="&#xf1e5;"
                           style="font-size: 18px;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           style="font-size: 16px;"
                           text="På opdagelse"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/about')"
                            (tap)="onNavItemTap('/about')">
                    <Label col="0"
                           text="&#xf059;"
                           style="font-size: 18px;"
                           class="nt-icon far"></Label>
                    <Label col="1"
                           style="font-size: 16px;"
                           text="Om Naturappen"
                           class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/terms')"
                            (tap)="onNavItemTap('/terms')">
                    <Label col="0"
                           text="&#xf02d;"
                           style="font-size: 18px;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           style="font-size: 16px;"
                           text="Handelsbetingelser"
                           class="p-r-10"></Label>
                </GridLayout>
                <StackLayout orientation="horizontal">

                    <Image src="~/assets/facebook.png"
                           (tap)="onFacebookTap()"
                           class="m-l-20 m-t-25"
                           height="54">
                    </Image>

                    <Image src="~/assets/instagram.png"
                           (tap)="onInstagramTap()"
                           class="m-l-20 m-t-25"
                           height="60"></Image>

                    <Image src="~/assets/naturappen-logo.png"
                           (tap)="onWebsiteTap()"
                           class="m-l-20 m-t-25"
                           height="60"></Image>

                </StackLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>