<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent
                rows="auto, *"
                class="nt-drawer__content">
        <StackLayout row="0"
                     class="nt-drawer__header">
        </StackLayout>

        <ScrollView row="1"
                    class="nt-drawer__body">
            <StackLayout>
                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/home')"
                            (tap)="onNavItemTap('/home')">
                    <Label col="0"
                           text="&#xf4d8;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           text="Overblik"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/tales')"
                            (tap)="onNavItemTap('/tales')">
                    <Label col="0"
                           text="&#xf2ce;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           text="Naturfortællinger"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/adventure')"
                            (tap)="onNavItemTap('/adventure')">
                    <Label col="0"
                           text="&#xf14e;"
                           class="nt-icon far"></Label>
                    <Label col="1"
                           text="På opdagelse"
                           class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/about')"
                            (tap)="onNavItemTap('/about')">
                    <Label col="0"
                           text="&#xf059;"
                           class="nt-icon far"></Label>
                    <Label col="1"
                           text="Om Naturappen"
                           class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *"
                            class="nt-drawer__list-item"
                            [class.-selected]="isComponentSelected('/settings')"
                            (tap)="onNavItemTap('/settings')">
                    <Label col="0"
                           text="&#xf013;"
                           class="nt-icon fas"></Label>
                    <Label col="1"
                           text="Instillinger"
                           class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>