@import '~@nativescript/theme/scss/variables/forest';

.page-header {
    background-color: rgb(97,125,64);
}

.page-adventure-lists {
    flex-direction: column;
}
// Custom styles
.adventure-lists,
:host-context(.ns-dark) .adventure-lists {
     &__item {
        padding: 6 12 6 12;
        background-color: white;

        &-content {
            padding: 0 0 0 0;
            @include colorize($background-color: background);
        }

    }
}

.item-text {
    margin-top: 60;
    background: linear-gradient(transparent, transparent, rgb(46, 45, 45));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.item-difficulty {
    background-color: white;
    color: rgb(116,156,67);
    margin-right: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50%;
    font-size: 20;
    font-weight: 600;
}