@import '~@nativescript/theme/scss/variables/forest';

.page-header {
    background-color: rgb(97,125,64);
}

.page-adventure-lists {
    flex-direction: column;
}
// Custom styles
.adventure-lists,
:host-context(.ns-dark) .adventure-lists {
     &__item {
        padding: 0 0 8 0;
        background-color: white;

        &-content {
            padding: 0 0 0 0;
            @include colorize($background-color: background);
        }

    }
}

.item-text {
    margin-top: 70;
    background: linear-gradient(transparent, transparent, rgb(46, 45, 45));
}
.item-difficulty {
    background-color: white;
    color: rgb(116,156,67);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 50%;
    font-size: 22;
    font-weight: 600;
}