<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="På opdagelse"></Label>
    <ActionItem *ngIf="isAdmin" ios.position="right">
        <Label text="&#xf0fe;"
               class="nt-icon far p-r-10"
               style="font-size: 20;"
               verticalAlignment="center"
               (tap)="onCreateButtonTap()"></Label>
    </ActionItem>
</ActionBar>

<FlexboxLayout class="page-adventure-lists">
    <RadListView [items]="adventureLists"
                 (itemTap)="onAdventureListItemTap($event)"
                 style="background-color: #f2f2f2; height: 100%;">
        <StackLayout>
            <ng-template tkListItemTemplate
                         let-adventureList="item">
                <StackLayout class="adventure-lists__item">
                    <GridLayout class="adventure-lists__item-content">
                        <WebImage [src]="adventureList.pictureURL"
                                  placeholder="~/assets/logo-placeholder.png"
                                  stretch="aspectFill"
                                  height="190"></WebImage>
                        <StackLayout class="item-text">
                            <label [text]="adventureList.difficulty"
                                   horizontalAlignment="right"
                                   verticalAlignment="bottom"
                                   class="item-difficulty"></label>
                            <Label [text]="adventureList.name"
                                   class="p-l-5 m-t-2 p-b-0 m-b-0"
                                   style="font-size: 19; color: white; font-weight: 500;"></Label>

                            <Label [text]="adventureList.description"
                                   class="p-l-5 m-t-2 m-r-5"
                                   style="font-size: 16; color: white; font-weight: 400;"></Label>
                        </StackLayout>
                    </GridLayout>
                    <label style="background: linear-gradient(rgba(44, 43, 43, 0.4), transparent);
                                                      height: 3;"
                           verticalAlignment="top"></label>
                </StackLayout>
            </ng-template>
        </StackLayout>
    </RadListView>
</FlexboxLayout>