<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="På opdagelse"></Label>
    <ActionItem *ngIf="isAdmin">
        <Label text="&#xf0fe;"
               class="nt-icon far"
               style="font-size: 20;"
               verticalAlignment="center"
               ios.position="right"
               (tap)="onCreateButtonTap()"></Label>
    </ActionItem>
</ActionBar>

<FlexboxLayout class="page-adventure-lists">
    <RadListView [items]="adventureLists"
                 (itemTap)="onAdventureListItemTap($event)"
                 style="background-color: #f2f2f2;">
        <StackLayout>
            <ng-template tkListItemTemplate
                         let-adventureList="item">
                <StackLayout class="adventure-lists__item">
                    <GridLayout class="adventure-lists__item-content">
                        <Image [src]="adventureList.pictureURL"
                               stretch="aspectFill"
                               height="160"></Image>
                        <StackLayout style="padding: 80 0 6 0;">
                            <Label [text]="adventureList.name"
                                   class="p-l-10"
                                   style="font-size: 20; color: white; font-weight: 700;"></Label>
                            <Label [text]="adventureList.description"
                                   class="p-l-10"
                                   style="font-size: 16; color: white; font-weight: 500;"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </StackLayout>
    </RadListView>
</FlexboxLayout>