<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="Handelsbetingelser"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ScrollView>
        <StackLayout>
            <label text="1. Information"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Naturappen udbydes af firmaet Naturappen, CVR-nr. 41 38 30 62, Herningvej 1 2,3 8000 Aarhus C. Firmaet kan kontaktes pr.
e-mail på naturappen.kontakt@gmail.com. I Appen gives adgang til naturbankoplader i flere niveauer samt forskellige
lydfortællinger og meditationer med fokus på den danske natur. Kunden kan via abonnementsordning købe adgang til
bankoplader og lydfiler i Appen."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="2. Aftalegrundlag og aftaleindgåelse"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Disse betingelser er gældende for alle ordrer afgivet af kunden via Appen. Ved placering af en ordre via Appen, bekræfter kunden at have læst og accepteret disse betingelser."
                   textWrap=true
                   lineHeight=5
                   class=" p-y-5 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="3. Leveringsbetingelser og leveringstid"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Levering sker til kundens smartphone hvor Appen er installeret. Bankopladerene, samt lydfilerne downloades og afspilles gennem Appen. Varen leveres straks efter købets gennemførelse, efter at man logger ud af Appen og ind igen. Delleverancer kan således ikke finde sted. Såfremt levering ikke er mulig på grund af kundens forhold, herunder manglende opfyldelse af tekniske specifikationer til modtagelse af lydfilen, bærer Naturappen ikke ansvaret herfor, og kunden skal afholde Naturappens eventuelle udgifter og/eller tab i forbindelse hermed."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="4. Tilrådighedsstillelse"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Naturappen forpligter sig til at stille Appen og det deri indeholdte materiale til rådighed så længe kunden har et aktivt abonnement."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="5. Priser, betalingsbetingelser og afmelding"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Alle priser angives i DKK inklusiv moms. Opgradering til fuld version foregår via AppStore og GooglePlay med kundens dertil tilknyttede betalings-metode. Gavekort kan anvendes. På betalingssiden vil kunden få oplyst den samlede pris, hvorefter kunden gennemfører betalingsproces-sen. Ved brug af betalingskort skal kortholderens navn, kortnummer, kortets udløbsdato og kontrolcifre udfyldes. Udfyldes de nævnte felter ikke korrekt, kan kortets gyldighed ikke verificeres, og købet vil derfor ikke kunne gennemføres. Naturappen benytter sig af SSL (Secure Socket Layer) i betalingssystemet. Afmelding af abonnement sker automatisk når den valgte periode på 3 måneder eller 1 år udløber."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="6. Produktinformation"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Alle oplysninger om varerne fremgår af Appen."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="7. Fortrydelsesret"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Det er ikke muligt for kunden at fortryde aftalen, når ordren er modtaget hos Naturappen. Annullering af en ordre kan således alene ske med Naturappens skriftlige godkendelse."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="8. Reklamation og mangler (forbrugere)"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Ved levering skal kunden straks eller efter kort tid undersøge det købte. Reklamation over mangler skal ske skriftligt inden rimelig tid efter kunden er blevet opmærksom på manglen. Som forbruger har man 2 års reklamationsret, hvilket betyder, at du enten kan få varen repareret, ombyttet, pengene tilbage eller afslag i prisen, afhængig af den konkrete situation, hvis reklamationen er berettiget. Enhver reklamation efter dette tidspunkt vil blive afvist. Naturappen skal hurtigst muligt efter at have fået kendskab til en mangel iværksætte tiltag for at rette manglen. Har kunden reklameret over mangler, og det viser sig, at der ikke foreligger en mangel, som kan tilregnes Naturappen, skal kunden erstatte de udgifter, Naturappen måtte have haft i den sammenhæng, f.eks. advokatudgifter."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
            <label text="9. Reklamation og mangler (erhvervsdrivende)"
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-x-20 font-weight-bold"
                   style="font-size: 19px;"></label>
            <label text="Ved levering skal kunden straks, og senest inden to dage fra leverancens modtagelse, foretage en sådan undersøgelse af det købte, som ordentlig forretningsbrug kræver. Reklamation over synlige mangler skal ske skriftligt ved kundens modtagelse af leverancen dog senest to dage efter levering. Reklamation over skjulte mangler skal ske skriftligt ved konstatering dog senest to dage efter disse er eller burde være opdaget. Den absolutte reklamationsfrist er 12 måneder fra leveringsdato. Enhver reklamation efter dette tidspunkt vil blive afvist. I tilfælde af rettidig og berettiget reklamation er Naturappens ansvar begrænset til vederlagsfri levering af en ny tilsvarende vare inden rimelig tid. Naturappen er dog efter eget valg berettiget til i stedet at betale kunden en erstatning, der maksimalt kan udgøre fakturaværdien for varen, der er omfattet af manglen. Naturappen yder ikke erstatning eller kompensation i øvrig."
                   textWrap=true
                   lineHeight=5
                   class="p-y-10 p-b-20 p-x-20 font-italic"
                   style="font-size: 16px;"></label>
        </StackLayout>
    </ScrollView>
</GridLayout>