<ActionBar class="page-header">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="Naturfortællinger"></Label>
</ActionBar>

<FlexboxLayout class="page__content"
               flexDirection="column"
               width="300"
               height="300"
               backgroundColor="lightgray">
    <Label text="Frø"
           width="70"
           height="70"
           backgroundColor="white" />
    <Label text="Høne"
           width="70"
           height="70"
           backgroundColor="white" />
    <Label text="Kanin"
           width="70"
           height="70"
           backgroundColor="white" />
    <Label text="Ulv"
           width="70"
           height="70"
           backgroundColor="white" />
</FlexboxLayout>