@import '~@nativescript/theme/scss/variables/forest';

.page-header {
    background-color: rgb(97,125,64);
}

.page-tales {
    flex-direction: column;
}
// Custom styles
.tales,
:host-context(.ns-dark) .tales {
     &__item {
        padding: 0 0 8 0;
        &-content {
            padding: 0 0 0 0;
            @include colorize($background-color: background);
        }

    }
}
.item-text {
    font-size: 28; 
    color: white; 
    font-weight: 400;
}