<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="Velkommen til Naturappen"></Label>
</ActionBar>
<ScrollView>
    <StackLayout style="background-color: rgb(97,125,64)">
        <GridLayout (tap)="onTapNavigate('/tale-categories')">
            <Image src="~/assets/naturfortællinger.jpg"
                   Stretch="aspectStretch"></Image>
            <Label textAlignment="center"
                   text="NATURFORTÆLLINGER"
                   class="m-b-30"
                   verticalAlignment="center"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
            <Label textAlignment="center"
                   text="LYDFILER"
                   verticalAlignment="center"
                   class="text"
                   style="font-size: 22; color: white; font-weight: 400"></Label>
        </GridLayout>
        <GridLayout (tap)="onTapNavigate('/adventure')">
            <Image src="~/assets/på-opdagelse.jpg"
                   Stretch="aspectStretch"></Image>
            <Label textAlignment="center"
                   text="PÅ OPDAGELSE"
                   class="m-b-30"
                   verticalAlignment="center"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
            <Label textAlignment="center"
                   text="BANKOPLADER"
                   verticalAlignment="center"
                   class="text"
                   style="font-size: 22; color: white; font-weight: 400;"></Label>

        </GridLayout>
        <GridLayout (tap)="onTapNavigate('/about')">
            <Image src="~/assets/om-os.jpg"
                   Stretch="aspectStretch"></Image>
            <Label textAlignment="center"
                   text="OM OS"
                   verticalAlignment="center"
                   style="font-size: 30; color: white; font-weight: 500;"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>