<ActionBar class="page-header">

    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="h2"
           style="color: white;"
           text="Velkommen til Naturappen"></Label>
</ActionBar>
<ScrollView>
    <StackLayout>
        <GridLayout (tap)="onTapNavigate('/tale-categories')">
            <Image src="~/assets/Naturfortællinger.jpg"
                   Stretch="aspectFill"></Image>
            <StackLayout>
                <Label textAlignment="center"
                       text="NATURFORTÆLLINGER"
                       class="text"
                       style="font-size: 30; color: white; font-weight: 500;"></Label>
                <Label textAlignment="center"
                       text="LYDFILER"
                       style="font-size: 22; color: white; font-weight: 400"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout (tap)="onTapNavigate('/adventure')">
            <Image src="~/assets/På-opdagelse.jpg"
                   Stretch="aspectFill"></Image>
            <StackLayout>
                <Label textAlignment="center"
                       text="PÅ OPDAGELSE"
                       class="text"
                       style="font-size: 30; color: white; font-weight: 500;"></Label>
                <Label textAlignment="center"
                       text="BANKOPLADER"
                       style="font-size: 22; color: white; font-weight: 400;"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout (tap)="onTapNavigate('/about')">
            <Image src="~/assets/Om-os.jpg"
                   Stretch="aspectFill"></Image>
            <StackLayout>
                <Label textAlignment="center"
                       text="OM OS"
                       style="font-size: 30; color: white; font-weight: 500; padding-top: 100;"></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</ScrollView>